html{
    font-size: 20px;
}

.body{
    margin: 0;
}

.conteiner {
    margin:0 auto;
    width: 95%;
}

.header {
    background-color: red;
    padding: 20px 0;
    border-bottom: 5px solid royalblue;

}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation li{
    display: inline;
    margin-right:  10px;
}

.navigation li:last-child{
    margin-right: 0;
}


.navigation .profile a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight:  bold;

}